.home-page {
  background: url("/images/image.png") no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

.navbar {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.navbar button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.navbar button:hover {
  background-color: #0056b3;
}

.home-container {
  background: rgba(145, 142, 142, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgb(252, 249, 249);
  width: 50%;
}

.buttons {
  margin-top: 20px;
}

.btn {
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px;
  background-color: green;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
