---
- name: Deploy FitTrack app with Docker Compose
  hosts: fittrack_hosts
  become: yes

  vars:
    docker_compose_path: /opt/fittrack

  tasks:
    - name: Ensure apt cache is up to date
      apt:
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Install required packages for Docker repo
      apt:
        name:
          - ca-certificates
          - curl
          - gnupg
        state: present
      when: ansible_os_family == "Debian"

    - name: Add Docker GPG key
      ansible.builtin.shell: |
        install -m 0755 -d /etc/apt/keyrings
        curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
        chmod a+r /etc/apt/keyrings/docker.gpg
      args:
        creates: /etc/apt/keyrings/docker.gpg
      when: ansible_os_family == "Debian"

    - name: Add Docker repository
      ansible.builtin.shell: |
        echo \
        "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu \
        $(. /etc/os-release && echo \"$VERSION_CODENAME\") stable" | \
        tee /etc/apt/sources.list.d/docker.list > /dev/null
      args:
        creates: /etc/apt/sources.list.d/docker.list
      when: ansible_os_family == "Debian"

    - name: Install Docker and docker compose plugin
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Ensure Docker service is running
      service:
        name: docker
        state: started
        enabled: yes

    - name: Create application directory
      file:
        path: "{{ docker_compose_path }}"
        state: directory

    - name: Copy docker-compose.yml to remote server
      copy:
        src: ../docker-compose.yml
        dest: "{{ docker_compose_path }}/docker-compose.yml"

    - name: Start containers with Docker Compose v2
      community.docker.docker_compose_v2:
        project_src: "{{ docker_compose_path }}"
        state: present
