name: Build and Push Docker Images

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend image
        uses: docker/build-push-action@v6
        with:
          context: ./fit-track-backend
          file: ./fit-track-backend/Dockerfile
          push: true
          tags: |
            likhithachundu/fittrack-backend:latest
            likhithachundu/fittrack-backend:${{ github.sha }}

      - name: Build and push frontend image
        uses: docker/build-push-action@v6
        with:
          context: ./fit-track-frontend
          file: ./fit-track-frontend/Dockerfile
          push: true
          tags: |
            likhithachundu/fittrack-frontend:latest
            likhithachundu/fittrack-frontend:${{ github.sha }}
